# Dependencies
node_modules/
*/node_modules/
salesforce-app/node_modules/

# OS metadata
.DS_Store
*/.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# Temporary / Scratch
scratch/
.system_generated/
